[package]
name = "kak-lsp"
version = "6.2.0"
authors = ["Ruslan Prokopchuk <fer.obbee@gmail.com>"]
edition = "2018"
license = "Unlicense/MIT"

[dependencies]
clap = "2"
crossbeam-channel = "0.2.6"
daemonize = "0"
dirs = "1"
enum_primitive = "0"
glob = "0"
itertools = "0"
jsonrpc-core = "8"
libc = "0"
lsp-types = "0"
rand = "0"
regex = "0"
ropey = "1"
serde = "1"
serde_derive = "1"
serde_json = "1"
slog = { version = "2", features = ["release_max_level_debug"] }
slog-scope = "4"
sloggers = "0"
toml = "0"
url = "1"
url_serde = "0"
whoami = "0"

[profile.release]
lto = true

