[package]
name = "kak-lsp"
version = "6.0.0"
authors = ["Ruslan Prokopchuk <fer.obbee@gmail.com>"]

[dependencies]
clap = "2"
crossbeam-channel = "0.2.6"
daemonize = "0"
dirs = "1"
enum_primitive = "0"
fnv = "1"
glob = "0"
handlebars = "0"
itertools = "0"
jsonrpc-core = "8"
languageserver-types = "0"
regex = "0"
serde = "1"
serde_derive = "1"
serde_json = "1"
slog = { version = "2", features = ["release_max_level_debug"] }
slog-scope = "4"
sloggers = "0"
toml = "0"
url = "1"
url_serde = "0"

[profile.release]
lto = true

