name: Release kakoune-lsp

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest]
        include:
          - os: macos-latest
            target: x86_64-apple-darwin
          - os: ubuntu-latest
            target: x86_64-unknown-linux-musl
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0 # for git describe --tags
      - name: Build
        run: ci/build-release.sh
      - name: Extract release notes
        run: ci/latest-changelog.sh > latest-changelog.md
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          draft: true
          files: kakoune-lsp-*-*.tar.gz
          body_path: latest-changelog.md

